doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    .w3-container.w3-green
        ul.navbar.ul.w3-green
          li.navbar.li Teste1
          li.navbar.li Teste2
          li.navbar.li Teste3